﻿<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function () {
            var parentGrid = $("#grid").kendoGrid({
                dataSource: dsCategory,
                height: 600,
                sortable: false,
                //pageable: true,
                scrollable: true,
                detailInit: detailInit,
                //dataBound: function () {
                //    this.expandRow(this.tbody.find("tr.k-master-row").first());
                //},
                columns: [
                    {
                        field: "CategoryName",
                        title: "Category Name"
                    },
                    {
                        field: "CategoryDesc",
                        title: "Category Description"
                    },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "200px" }
                ],
                editable: "inline",
                toolbar: ["create"]
            });

            var detail;
            $("#grid").data("kendoGrid").table.kendoSortable({
                connectWith: ".k-grid",
                filter: ">tbody >tr:not(.k-detail-row):not(.k-grid-edit-row)",
                hint: function (element) { //customize the hint
                    console.log(element);
                    var grid = $("#grid").data("kendoGrid"),
                        table = grid.table.clone(), //clone Grid's table
                        wrapperWidth = grid.wrapper.width(), //get Grid's width
                        wrapper = $("<div class='k-grid k-widget'></div>").width(wrapperWidth),
                        hint;

                    table.find("thead").remove(); //remove Grid's header from the hint
                    table.find("tbody").empty(); //remove the existing rows from the hint
                    table.wrap(wrapper); //wrap the table
                    table.append(element.clone()); //append the dragged element

                    //if next element is a detail grid, append it.

                    table.append(element.next().clone());
                    hint = table.parent(); //get the wrapper

                    return hint; //return the hint element
                },

                placeholder: function(element) { //customize the placeholder
                    return element.clone().addClass("k-state-hover").css("opacity", 0.65);
                },
                end: function(e) {
                    detail = e.draggableEvent.currentTarget.next();
                },
                change: function(e) {
                    e.item.after(detail);
                    //var grid = this.element.closest(".k-grid").data("kendoGrid");
                    //var skip = grid.dataSource.skip();
                    //var oldIndex = e.oldIndex + skip;
                    //var newIndex = e.newIndex + skip;

                    //if (e.action == "remove") {
                    //    dataItem = grid.dataSource.getByUid(e.item.data("uid"));
                    //    grid.dataSource.remove(dataItem);
                    //} else if (e.action == "receive" && dataItem != null) {
                    //    grid.dataSource.insert(newIndex, dataItem);
                    //    dataItem = null;
                    //} else if (e.action == "sort") {
                    //    dataItem = grid.dataSource.getByUid(e.item.data("uid"));

                    //    grid.dataSource.remove(dataItem);
                    //    grid.dataSource.insert(newIndex, dataItem);
                    //}

                    //grid.saveChanges();
                }
            });
        });

        function detailInit(e) {
            var detailGrid = $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    schema: {
                        model: {
                            id: "CategoryId",
                            fields: {
                                CategoryName: { editable: true, validation: { required: { message: "Category name is required." } } },
                                ParentCategoryId: { editable: false }
                            }
                        }
                    },
                    transport: {
                        read: {
                            type: "GET",
                            url: "http://localhost:63427/api/category/getsubcategories",
                            dataType: "json"
                        },
                        update: {
                            type: "PUT",
                            url: "http://localhost:63427/api/category/updatecategory",
                            dataType: "json"
                        },
                        destroy: {
                            type: "DELETE",
                            url: "http://localhost:63427/api/category/deletecategory",
                            dataType: "json"
                        },
                        create: {
                            type: "POST",
                            url: "http://localhost:63427/api/category/createcategory",
                            dataType: "json"
                        }
                    },
                    //pageSize: 10,
                    filter: { field: "ParentCategoryId", operator: "eq", value: e.data.CategoryId },
                    sort: { field: "DisplayOrder", dir: "asc" }
                },
                noRecords: {
                    template: "<div class='k-grid-norecords-template' style='margin:0 auto;position:static;'>No subcategories available.</div>"
                },
                scrollable: true,
                sortable: false,
                //pageable: true,
                columns: [
                    {
                        field: "CategoryName",
                        title: "Subcategory Name"
                    },
                    {
                        field: "CategoryDesc",
                        title: "Subcategory Description"
                    },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "200px" }
                ],
                editable: "inline",
                //toolbar: ["create"]
            });

            detailGrid.data("kendoGrid").table.kendoSortable({
                connectWith: ".k-grid",
                filter: ">tbody >tr:not(.k-detail-row):not(.k-grid-edit-row)",
                //filteR: ">tr.k-detail-row >tr:not(.k-grid-edit-row)",
                hint: function (element) { //customize the hint
                    var grid = detailGrid.data("kendoGrid"),
                        table = grid.table.clone(), //clone Grid's table
                        wrapperWidth = grid.wrapper.width(), //get Grid's width
                        wrapper = $("<div class='k-grid k-widget'></div>").width(wrapperWidth),
                        hint;

                    table.find("thead").remove(); //remove Grid's header from the hint
                    table.find("tbody").empty(); //remove the existing rows from the hint
                    table.wrap(wrapper); //wrap the table
                    table.append(element.clone()); //append the dragged element

                    hint = table.parent(); //get the wrapper

                    return hint; //return the hint element
                },

                placeholder: function (element) { //customize the placeholder
                    return element.clone().addClass("k-state-hover").css("opacity", 0.65);
                },
                change: function (e) {
                    //var grid = this.element.closest(".k-grid").data("kendoGrid");
                    //var skip = grid.dataSource.skip();
                    //var oldIndex = e.oldIndex + skip;
                    //var newIndex = e.newIndex + skip;

                    //if (e.action == "remove") {
                    //    dataItem = grid.dataSource.getByUid(e.item.data("uid"));
                    //    grid.dataSource.remove(dataItem);
                    //} else if (e.action == "receive" && dataItem != null) {
                    //    grid.dataSource.insert(newIndex, dataItem);
                    //    dataItem = null;
                    //} else if (e.action == "sort") {
                    //    dataItem = grid.dataSource.getByUid(e.item.data("uid"));

                    //    grid.dataSource.remove(dataItem);
                    //    grid.dataSource.insert(newIndex, dataItem);
                    //}

                    //grid.saveChanges();
                }
            });

        }

        var dsCategory = new kendo.data.DataSource({
            schema: {
                model: {
                    id: "CategoryId",
                    fields: {
                        DisplayOrder: { editable: false },
                        CategoryId: { editable: false, nullable: true },
                        CategoryName: { editable: true, validation: { required: { message: "Category name is required." } } }
                    }
                }
            },
            transport: {
                read: {
                    type: "GET",
                    url: "http://localhost:63427/api/category/getcategories",
                    dataType: "json"
                },
                update: {
                    type: "PUT",
                    url: "http://localhost:63427/api/category/updatecategory",
                    dataType: "json"
                },
                destroy: {
                    type: "DELETE",
                    url: "http://localhost:63427/api/category/deletecategory",
                    dataType: "json"
                },
                create: {
                    type: "POST",
                    url: "http://localhost:63427/api/category/createcategory",
                    dataType: "json"
                }
            },
            pageSize: 10,
            sort: { field: "DisplayOrder", dir: "asc" }
        });
    </script>
</div>