﻿<div id="example">
    <div class="box wide">
        <div class="box-col">
            <h4>Expand / Collapse</h4>
            <ul class="options">
                <li>
                    <button class="k-button" id="expandAllNodes">Expand all nodes</button>
                </li>
                <li>
                    <button class="k-button" id="collapseAllNodes">Collapse all nodes</button>
                </li>
            </ul>
        </div>
        <div class="box-col">
            <h4>Add / Remove</h4>
            <ul class="options">
                <li>
                    <input id="appendNodeText" value="Node" class="k-textbox" />
                    <button class="k-button" id="appendNodeToSelected">Append node</button>
                </li>
                <li>
                    <button class="k-button" id="removeNode">Remove node</button>
                </li>
            </ul>
        </div>
        <div class="box-col">
            <h4>DataSource interaction</h4>
            <ul class="options">
                <li>
                    <button class="k-button" id="sortDataSource">Sort</button>
                </li>
                <li>
                    <input id="filterText" value="Item 1" class="k-textbox" />
                    <button class="k-button" id="filterDataSource">Filter by text</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="demo-section k-content">
        <div id="treeview"></div>
    </div>

    <script>

        $(document).ready(function () {

            kendo.data.ObservableArray.prototype.move = function (old_index, new_index) {
                if (new_index >= this.length) {
                    var k = new_index - this.length;
                    while ((k--) + 1) {
                        this.push(undefined);
                    }
                }
                this.splice(new_index, 0, this.splice(old_index, 1)[0]);
                //return this; // for testing purposes
            };

            var homogenous = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        type: "GET",
                        url: "http://localhost:63427/api/tree/getcategories",
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: "CategoryId",
                        hasChildren: "HasSubcategory"
                    }
                },
                sort: { field: "DisplayOrder", dir: "asc" }
            });

            function onDrop(e) {
                if (e.valid) {
                    var data$ = homogenous.data();
                    var sourceNode = this.dataItem(e.sourceNode);
                    var sourceId = sourceNode.CategoryId;
                    var sourceName = sourceNode.CategoryName;
                    var sourceOrder = sourceNode.DisplayOrder;
                    var wasSourceCategory = sourceNode.ParentCategoryId === -1;
                    var destinationNode = this.dataItem(e.destinationNode);
                    var destinationId = destinationNode.CategoryId;
                    var destinationName = destinationNode.CategoryName;
                    var destinationOrder = destinationNode.DisplayOrder;
                    //var dropTarget = this.dataItem(e.dropTarget);
                    var dropPosition = e.dropPosition;
                    var targetsRoot = this.parent(e.destinationNode).length === 0;
                    var wasCategory = this.parent(e.sourceNode).length === 0;
                    var wasSubcategory = !wasCategory;
                    var isNowCategory = targetsRoot && dropPosition !== "over";
                    var isNowSubcategory = !isNowCategory;

                    //console.log("Origin ID: " + sourceId +
                    //            "\nOrigin Order: " + sourceOrder +
                    //            "\nOrigin Name: " + sourceName +
                    //            "\nDestination ID: " + destinationId +
                    //            "\nDestination Name: " + destinationName +
                    //            "\nDestination Order: " + destinationOrder +
                    //            "\nDrop Position: " + dropPosition +
                    //            "\nOrigin UID: " + sourceNode.uid);

                    if (wasCategory && isNowCategory) {
                        data$.move(sourceNode.index, destinationNode.index);
                        //console.log(data$);
                    } else if (wasCategory && isNowSubcategory) {
                        if (sourceNode.hasChildren === true) { //we only allow 2 levels
                            e.setValid(false);
                            return;
                        }
                        console.log(data$);
                    }


                }
                //$.ajax({
                //    type: "POST",
                //    url: "http://localhost:63427/api/tree/savecategories",
                //    data: JSON.stringify(homogenous.data()),
                //    dataType: "json"
                //}).always();
            };

            var treeview = $("#treeview").kendoTreeView({
                dataSource: homogenous,
                dataTextField: ["CategoryName"],
                loadOnDemand: true,
                dragAndDrop: true,
                drop: onDrop
            }).data("kendoTreeView");

            var handleTextBox = function (callback) {
                return function (e) {
                    if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                        callback(e);
                    }
                };
            };


            $("#removeNode").click(function () {
                var selectedNode = treeview.select();

                treeview.remove(selectedNode);
            });

            $("#expandAllNodes").click(function () {
                treeview.expand(".k-item");
            });

            $("#collapseAllNodes").click(function () {
                treeview.collapse(".k-item");
            });

            var append = handleTextBox(function (e) {
                var selectedNode = treeview.select();

                // passing a falsy value as the second append() parameter
                // will append the new node to the root group
                if (selectedNode.length == 0) {
                    selectedNode = null;
                }

                treeview.append({
                    text: $("#appendNodeText").val()
                }, selectedNode);
            });

            $("#appendNodeToSelected").click(append);
            $("#appendNodeText").keypress(append);

        });
    </script>
    <style>
        .box .k-textbox {
            width: 100px;
        }
    </style>
</div>
